a{
    text-decoration: none;
}

header{
    background-color: lightpink;
    padding: 10px;
}

.section1{
	margin-right: 45px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	border: 1px solid black;
	background-color: yellow;
}

.section2{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	border: 1px solid black;
	background-color: lightblue;
}
